<h2><%= @book.book_name %></h2>
<ul>
  <li>Year: <%= @book.year%></li>
 <li>Language: <%= @book.language%></li>
 <li>Author: <%= @book.author%></li>
 <li>Publication: <%= @book.publication%></li>
 </ul>